Repository bounswe/bounswe2019group9, pull requests merged in 2019-10, with the labels that each got.

#129 Backend
  backend/backend.iml
  backend/language-learning-platform.iml
  backend/pom.xml
  backend/src/main/java/app/Application.java
  backend/src/main/java/app/Greeting.java
  backend/src/main/java/app/GreetingController.java
  backend/src/main/java/app/actor/LoginRequest.java
  backend/src/main/java/app/actor/LoginService.java
  backend/src/main/java/app/actor/RegisterRequest.java
  backend/src/main/java/app/actor/RegisterService.java
  backend/src/main/java/app/actor/UserController.java
  backend/src/main/java/app/actor/UserRepository.java
  backend/src/main/java/app/actor/entity/User.java
  backend/src/main/resources/application.properties
  backend/src/test/java/app/GreetingControllerTests.java
Labels: Implementation, category: backend

#138 add encryption and login
  backend/language-learning-platform.iml
  backend/pom.xml
  backend/src/main/java/app/HttpResponses.java
  backend/src/main/java/app/Response.java
  backend/src/main/java/app/actor/UserNotFoundException.java
  backend/src/main/java/app/actor/controller/UserController.java
  backend/src/main/java/app/actor/repository/UserRepository.java
  backend/src/main/java/app/actor/service/EncryptionService.java
  backend/src/main/java/app/actor/service/LoginService.java
  backend/src/main/java/app/actor/service/RegisterService.java
Labels: category: backend

#140 do not return encrypted pw but the original one
  backend/src/main/java/app/actor/service/RegisterService.java
Labels: category: backend

#143 Created a simple login screen
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/DisplayMessage.java
  android/app/src/main/java/com/example/learningplatform/MainActivity.java
  android/app/src/main/res/layout/activity_display_message.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_welcome.xml
  android/app/src/main/res/values/strings.xml
Labels: Implementation, Learning a technology, category: mobile

#146 Introduce available languages endpoint
  backend/src/main/java/app/proseidon/ContentController.java
  backend/src/main/java/app/proseidon/Language.java
  backend/src/main/java/app/proseidon/LanguageRepository.java
  backend/src/main/java/app/proseidon/LanguageService.java
Labels: category: backend, type : enhancement

#154 Connected login activity to backend
  android/app/src/main/java/com/example/learningplatform/DisplayMessage.java
  android/app/src/main/java/com/example/learningplatform/MainActivity.java
Labels: Implementation, category: mobile

#155 completed design and connection of register page
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/MainActivity.java
  android/app/src/main/java/com/example/learningplatform/RegisterActivity.java
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_register.xml
  android/app/src/main/res/values/strings.xml
Labels: Implementation, Learning a technology, category: mobile

#167 create content, exercise and material entities with inheritence
  backend/src/main/java/app/proseidon/Content.java
  backend/src/main/java/app/proseidon/ContentController.java
  backend/src/main/java/app/proseidon/ContentRepository.java
  backend/src/main/java/app/proseidon/Exercise.java
Labels: category: backend, type : enhancement

#168 Add content service
  backend/src/main/java/app/proseidon/ContentService.java
Labels: category: backend, type : enhancement

#169 Introduce new endpoint for get contents
  backend/src/main/java/app/proseidon/ContentController.java
Labels: category: backend, type : enhancement

#170 Introduce endpoint for proficiency exam content
  backend/language-learning-platform.iml
  backend/src/main/java/app/actor/service/LoginService.java
  backend/src/main/java/app/actor/service/RegisterService.java
  backend/src/main/java/app/proseidon/ContentController.java
  backend/src/main/java/app/proseidon/ContentRepository.java
  backend/src/main/java/app/proseidon/ContentService.java
  backend/src/main/java/app/proseidon/LanguageRepository.java
  backend/src/main/java/app/proseidon/LanguageService.java
Labels: category: backend, type : enhancement

#174 Introduce endpoint for exercise creation
  backend/src/main/java/app/proseidon/ContentController.java
  backend/src/main/java/app/proseidon/ContentRepository.java
  backend/src/main/java/app/proseidon/ContentService.java
  backend/src/main/java/app/proseidon/Exercise.java
Labels: category: backend, type : enhancement

#178 Create Grade entity
  backend/src/main/java/app/actor/entity/Grade.java
Labels: category: backend, type : enhancement

#179 Implement proficiency service and repository
  backend/src/main/java/app/actor/GradeRequest.java
  backend/src/main/java/app/actor/repository/GradeRepository.java
  backend/src/main/java/app/actor/service/GradeService.java
Labels: category: backend, type : enhancement

#180 Introduce endpoint for prof exam results
  backend/src/main/java/app/actor/controller/GradeController.java
Labels: category: backend, type : enhancement

#181 Introduce endpoint for exercise deletion
  backend/src/main/java/app/proseidon/ContentController.java
  backend/src/main/java/app/proseidon/ContentRepository.java
  backend/src/main/java/app/proseidon/ContentService.java
Labels: category: backend, type : enhancement

#182 Android langfix
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/LanguageAdapter.java
  android/app/src/main/java/com/example/learningplatform/LanguageListDisplay.java
  android/app/src/main/java/com/example/learningplatform/MainActivity.java
  android/app/src/main/res/layout/activity_welcome.xml
  android/app/src/main/res/layout/language_selection.xml
Labels: category: mobile

#185 Android main act ui
  android/app/src/main/java/com/example/learningplatform/LanguageAdapter.java
  android/app/src/main/java/com/example/learningplatform/MainActivity.java
  android/app/src/main/res/drawable/app_icon.png
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/languages.xml
  android/app/src/main/res/mipmap-anydpi-v26/mipmap-hdpi/app_icon.png
  android/app/src/main/res/mipmap-anydpi-v26/mipmap-ldpi/app_icon.png
  android/app/src/main/res/mipmap-anydpi-v26/mipmap-mdpi/app_icon.png
  android/app/src/main/res/mipmap-anydpi-v26/mipmap-xhdpi/app_icon.png
  android/app/src/main/res/mipmap-anydpi-v26/mipmap-xxhdpi/app_icon.png
  android/app/src/main/res/mipmap-anydpi-v26/mipmap-xxxhdpi/app_icon.png
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/styles.xml
Labels: category: mobile, type : enhancement

#187 register page and lang list ui fix
  android/app/src/main/res/drawable/baseline_translate_black_48dp.png
  android/app/src/main/res/drawable/language_border.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_register.xml
  android/app/src/main/res/layout/language_selection.xml
  android/app/src/main/res/layout/languages.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/styles.xml
Labels: category: mobile

#189 Added proficiency page
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/LanguageAdapter.java
  android/app/src/main/java/com/example/learningplatform/LanguageListDisplay.java
  android/app/src/main/java/com/example/learningplatform/MainActivity.java
  android/app/src/main/java/com/example/learningplatform/Question.java
  android/app/src/main/java/com/example/learningplatform/QuestionDisplay.java
  android/app/src/main/res/layout/activity_question_displaying.xml
Labels: Implementation, Learning a technology, category: mobile

#191 Exam questions ui change
  android/app/src/main/res/layout/activity_question_displaying.xml
  android/app/src/main/res/values/styles.xml
Labels: category: mobile, type : enhancement

#201 Android grade enhancement
  android/app/src/main/java/com/example/learningplatform/LanguageAdapter.java
  android/app/src/main/java/com/example/learningplatform/LanguageListDisplay.java
  android/app/src/main/java/com/example/learningplatform/MainActivity.java
  android/app/src/main/java/com/example/learningplatform/QuestionDisplay.java
Labels: Implementation, Learning a technology, category: mobile, urgency : high

#202 Merging android branch to master
  android/.gitignore
  android/app/.gitignore
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/androidTest/java/com/example/learningplatform/ExampleInstrumentedTest.java
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/GradeView.java
  android/app/src/main/java/com/example/learningplatform/Language.java
  android/app/src/main/java/com/example/learningplatform/LanguageAdapter.java
  android/app/src/main/java/com/example/learningplatform/LanguageListDisplay.java
  android/app/src/main/java/com/example/learningplatform/MainActivity.java
  android/app/src/main/java/com/example/learningplatform/Question.java
  android/app/src/main/java/com/example/learningplatform/QuestionDisplay.java
  android/app/src/main/java/com/example/learningplatform/RegisterActivity.java
  android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/app_icon.png
  android/app/src/main/res/drawable/baseline_translate_black_48dp.png
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/drawable/language_border.xml
  android/app/src/main/res/layout/activity_grade_view.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_question_displaying.xml
  android/app/src/main/res/layout/activity_register.xml
  android/app/src/main/res/layout/activity_welcome.xml
  android/app/src/main/res/layout/language_selection.xml
  android/app/src/main/res/layout/languages.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-anydpi-v26/mipmap-hdpi/app_icon.png
  android/app/src/main/res/mipmap-anydpi-v26/mipmap-ldpi/app_icon.png
  android/app/src/main/res/mipmap-anydpi-v26/mipmap-mdpi/app_icon.png
  android/app/src/main/res/mipmap-anydpi-v26/mipmap-xhdpi/app_icon.png
  android/app/src/main/res/mipmap-anydpi-v26/mipmap-xxhdpi/app_icon.png
  android/app/src/main/res/mipmap-anydpi-v26/mipmap-xxxhdpi/app_icon.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/test/java/com/example/learningplatform/ExampleUnitTest.java
  android/build.gradle
  android/ex.txt
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle
Labels: category: mobile

#206 Introduce endpoint for get grade
  backend/src/main/java/app/actor/controller/GradeController.java
  backend/src/main/java/app/actor/repository/GradeRepository.java
  backend/src/main/java/app/actor/service/GradeService.java
Labels: category: backend, type : enhancement

#203 Merge Frontend Branch to master
  .travis.yml
  frontend/package.json
  frontend/src/Api/Content/index.js
  frontend/src/Api/Grade/index.js
  frontend/src/Api/Greeting/index.js
  frontend/src/Api/User/index.js
  frontend/src/Api/base.js
  frontend/src/Api/index.js
  frontend/src/Constants/index.js
  frontend/src/Libs/Toaster/toaster.js
  frontend/src/Routes/Guest/LogIn/index.jsx
  frontend/src/Routes/Guest/Register/index.jsx
  frontend/src/Routes/User/Language/ProfExam/index.jsx
  frontend/src/Routes/User/Language/Sidebar/index.jsx
  frontend/src/Routes/User/Language/index.jsx
  frontend/src/Routes/User/LanguageSelect/index.jsx
  frontend/src/Routes/User/Navbar/index.jsx
  frontend/src/Routes/User/Sample/index.jsx
  frontend/src/Routes/User/index.jsx
  frontend/src/Store/index.jsx
  frontend/src/index.css
  frontend/src/index.jsx
Labels: category: frontend, urgency : high

#210 Fix grade get query
  backend/src/main/java/app/actor/repository/GradeRepository.java
Labels: category: backend, type : enhancement

#212 Sort get grade query by id
  backend/src/main/java/app/actor/repository/GradeRepository.java
Labels: category: backend, type : enhancement

#214 Create user service, get user by id
  backend/src/main/java/app/actor/controller/UserController.java
  backend/src/main/java/app/actor/service/UserService.java
Labels: category: backend, type : enhancement

#217 216
  backend/src/main/java/app/actor/ProfileInfo.java
  backend/src/main/java/app/actor/service/LoginService.java
  backend/src/main/java/app/actor/service/ProfileService.java
Labels: category: backend, type : enhancement

#218 ProfileInfo endpoint implementation
  backend/src/main/java/app/actor/ProfileInfo.java
  backend/src/main/java/app/actor/controller/UserController.java
  backend/src/main/java/app/actor/service/ProfileService.java
Labels: category: backend, type : enhancement
