Repository bounswe/bounswe2019group9, pull requests merged in 2019-11, with the labels that each got.

#224 Reshape project structure
  backend/src/main/java/app/actor/bean/GradeRequest.java
  backend/src/main/java/app/actor/bean/LoginRequest.java
  backend/src/main/java/app/actor/bean/ProfileInfo.java
  backend/src/main/java/app/actor/bean/RegisterRequest.java
  backend/src/main/java/app/actor/controller/GradeController.java
  backend/src/main/java/app/actor/controller/UserController.java
  backend/src/main/java/app/actor/service/GradeService.java
  backend/src/main/java/app/actor/service/LoginService.java
  backend/src/main/java/app/actor/service/ProfileService.java
  backend/src/main/java/app/actor/service/RegisterService.java
  backend/src/main/java/app/actor/service/UserService.java
  backend/src/main/java/app/common/HttpResponses.java
  backend/src/main/java/app/common/Response.java
  backend/src/main/java/app/common/SwaggerConfig.java
  backend/src/main/java/app/proseidon/ContentController.java
  backend/src/main/java/app/proseidon/ContentService.java
  backend/src/main/java/app/proseidon/LanguageService.java
Labels: category: backend

#226 Create search controller
  backend/src/main/java/app/actor/service/ProfileService.java
  backend/src/main/java/app/cerebro/SearchController.java
  backend/src/main/java/app/proseidon/Material.java
  backend/src/main/java/app/proseidon/controller/ContentController.java
  backend/src/main/java/app/proseidon/entity/Content.java
  backend/src/main/java/app/proseidon/entity/Exercise.java
  backend/src/main/java/app/proseidon/entity/Language.java
  backend/src/main/java/app/proseidon/entity/Material.java
  backend/src/main/java/app/proseidon/repository/ContentRepository.java
  backend/src/main/java/app/proseidon/repository/LanguageRepository.java
  backend/src/main/java/app/proseidon/service/ContentService.java
  backend/src/main/java/app/proseidon/service/LanguageService.java
Labels: category: backend

#228 Implement user search service
  backend/src/main/java/app/actor/repository/UserRepository.java
  backend/src/main/java/app/cerebro/SearchController.java
  backend/src/main/java/app/cerebro/SearchOperatorService.java
  backend/src/main/java/app/cerebro/SearchUserRequest.java
  backend/src/main/java/app/cerebro/SearchUserService.java
Labels: category: backend, type : enhancement

#230 Reshape cerebro and create message entity
  backend/src/main/java/app/cerebro/bean/SearchUserRequest.java
  backend/src/main/java/app/cerebro/controller/SearchController.java
  backend/src/main/java/app/cerebro/service/SearchOperatorService.java
  backend/src/main/java/app/cerebro/service/SearchUserService.java
  backend/src/main/java/app/raven/Message.java
Labels: category: backend, type : enhancement

#232 Create message controller
  backend/src/main/java/app/raven/CreateMessageRequest.java
  backend/src/main/java/app/raven/MessageController.java
Labels: category: backend, type : enhancement

#234 Implement message service and repository
  backend/src/main/java/app/common/HttpResponses.java
  backend/src/main/java/app/common/Response.java
  backend/src/main/java/app/raven/Message.java
  backend/src/main/java/app/raven/MessageController.java
  backend/src/main/java/app/raven/MessageRepository.java
  backend/src/main/java/app/raven/MessageService.java
Labels: category: backend, type : enhancement

#236 Reshape raven
  backend/src/main/java/app/raven/bean/CreateMessageRequest.java
  backend/src/main/java/app/raven/controller/MessageController.java
  backend/src/main/java/app/raven/entity/Message.java
  backend/src/main/java/app/raven/repository/MessageRepository.java
  backend/src/main/java/app/raven/service/MessageService.java
Labels: category: backend

#222 added login session and profile page
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/LanguageListDisplay.java
  android/app/src/main/java/com/example/learningplatform/MainActivity.java
  android/app/src/main/java/com/example/learningplatform/ProfilePageActivity.java
  android/app/src/main/java/com/example/learningplatform/QuestionDisplay.java
  android/app/src/main/res/layout/activity_profile_page.xml
Labels: Implementation, Learning a technology, category: mobile, status : Completed

#238 language list bug fix about selecting language for exam
  android/app/src/main/java/com/example/learningplatform/LanguageAdapter.java
Labels: category: mobile, type : bug

#241 Create endpoint and services for get chat content
  backend/src/main/java/app/raven/controller/MessageController.java
  backend/src/main/java/app/raven/repository/MessageRepository.java
  backend/src/main/java/app/raven/service/MessageService.java
Labels: category: backend, type : enhancement

#243 Add user id to profile info
  backend/src/main/java/app/actor/bean/ProfileInfo.java
  backend/src/main/java/app/actor/service/ProfileService.java
Labels: category: backend, type : enhancement

#247 Android search view
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/ProfilePageActivity.java
  android/app/src/main/java/com/example/learningplatform/SearchActivity.java
  android/app/src/main/res/layout/activity_profile_page.xml
  android/app/src/main/res/layout/activity_search.xml
  android/build.gradle
Labels: Implementation, Learning a technology, category: mobile

#248 added exercise selection page
  android/app/gradle/wrapper/gradle-wrapper.jar
  android/app/gradle/wrapper/gradle-wrapper.properties
  android/app/gradlew
  android/app/gradlew.bat
  android/app/local.properties
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/ExerciseListDisplay.java
  android/app/src/main/java/com/example/learningplatform/ProfilePageActivity.java
  android/app/src/main/res/drawable/grammar.jpeg
  android/app/src/main/res/drawable/listening.png
  android/app/src/main/res/drawable/reading.png
  android/app/src/main/res/drawable/vocab.png
  android/app/src/main/res/drawable/writing.png
  android/app/src/main/res/layout/activity_profile_page.xml
  android/app/src/main/res/layout/exercise_type_selection.xml
  android/app/src/main/res/values/strings.xml
Labels: Implementation, Learning a technology, category: mobile, type : enhancement

#244 Android bottom navigation
  android/app/build.gradle
  android/app/gradle/wrapper/gradle-wrapper.jar
  android/app/gradle/wrapper/gradle-wrapper.properties
  android/app/gradlew
  android/app/gradlew.bat
  android/app/local.properties
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/ExerciseListDisplay.java
  android/app/src/main/java/com/example/learningplatform/GradeView.java
  android/app/src/main/java/com/example/learningplatform/LanguageListDisplay.java
  android/app/src/main/java/com/example/learningplatform/MainActivity.java
  android/app/src/main/java/com/example/learningplatform/ProfilePageActivity.java
  android/app/src/main/java/com/example/learningplatform/QuestionDisplay.java
  android/app/src/main/java/com/example/learningplatform/SearchActivity.java
  android/app/src/main/res/drawable/1x/baseline_search_white_24dp.png
  android/app/src/main/res/drawable/2x/baseline_search_white_24dp.png
  android/app/src/main/res/drawable/baseline_account_circle_white_24dp.png
  android/app/src/main/res/drawable/baseline_assignment_white_24dp.png
  android/app/src/main/res/drawable/baseline_chat_white_24dp.png
  android/app/src/main/res/drawable/baseline_search_white_24dp.png
  android/app/src/main/res/drawable/grammar.jpeg
  android/app/src/main/res/drawable/listening.png
  android/app/src/main/res/drawable/reading.png
  android/app/src/main/res/drawable/vocab.png
  android/app/src/main/res/drawable/writing.png
  android/app/src/main/res/layout/activity_grade_view.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_profile_page.xml
  android/app/src/main/res/layout/activity_question_displaying.xml
  android/app/src/main/res/layout/activity_search.xml
  android/app/src/main/res/layout/exercise_type_selection.xml
  android/app/src/main/res/layout/language_selection.xml
  android/app/src/main/res/menu/bottom_navigation_menu.xml
  android/app/src/main/res/mipmap-anydpi-v26/app_icon.png
  android/app/src/main/res/mipmap-hdpi/app_icon.png
  android/app/src/main/res/mipmap-mdpi/app_icon.png
  android/app/src/main/res/mipmap-xhdpi/app_icon.png
  android/app/src/main/res/mipmap-xxhdpi/app_icon.png
  android/app/src/main/res/mipmap-xxxhdpi/app_icon.png
  android/app/src/main/res/values/strings.xml
  android/build.gradle
Labels: category: mobile, type : enhancement

#251 Add language progress level to profile info
  backend/src/main/java/app/actor/bean/ExerciseSolvedRequest.java
  backend/src/main/java/app/actor/bean/ProfileInfo.java
  backend/src/main/java/app/actor/controller/UserController.java
  backend/src/main/java/app/actor/entity/ExerciseSolvedInfo.java
  backend/src/main/java/app/actor/repository/SolvedExercisesRepository.java
  backend/src/main/java/app/actor/service/ProfileService.java
  backend/src/main/java/app/actor/service/UserService.java
  backend/src/main/java/app/common/HttpResponses.java
  backend/src/main/java/app/proseidon/entity/Content.java
  backend/src/main/java/app/proseidon/entity/Exercise.java
  backend/src/main/java/app/proseidon/repository/ContentRepository.java
  backend/src/main/java/app/proseidon/service/ContentService.java
Labels: category: backend, type : enhancement

#254 Upsert conversation on message creation
  backend/src/main/java/app/raven/entity/Conversation.java
  backend/src/main/java/app/raven/repository/ConversationRepository.java
  backend/src/main/java/app/raven/repository/MessageRepository.java
  backend/src/main/java/app/raven/service/MessageService.java
Labels: category: backend, type : enhancement

#256 Create conversation controller, service and repository
  backend/src/main/java/app/raven/controller/ConversationController.java
  backend/src/main/java/app/raven/repository/ConversationRepository.java
  backend/src/main/java/app/raven/service/ConversationService.java
Labels: category: backend, type : enhancement

#258 Implement service for getting user profiles of conversations sorted c…
  backend/src/main/java/app/raven/controller/ConversationController.java
  backend/src/main/java/app/raven/service/ConversationService.java
Labels: category: backend, type : enhancement

#260 Create tag entity
  backend/src/main/java/app/proseidon/entity/Tag.java
Labels: category: backend, type : enhancement

#262 Create tag service and repository. Updated exercise services for tag.
  backend/src/main/java/app/proseidon/bean/TagCreateRequest.java
  backend/src/main/java/app/proseidon/controller/ContentController.java
  backend/src/main/java/app/proseidon/controller/TagController.java
  backend/src/main/java/app/proseidon/entity/Exercise.java
  backend/src/main/java/app/proseidon/entity/Tag.java
  backend/src/main/java/app/proseidon/repository/TagRepository.java
  backend/src/main/java/app/proseidon/service/ContentService.java
  backend/src/main/java/app/proseidon/service/TagService.java
Labels: category: backend, type : enhancement

#265 Fix grade view in frontend
  frontend/src/Api/Grade/index.js
  frontend/src/Helpers/grades.js
  frontend/src/Helpers/index.js
  frontend/src/Routes/User/Language/Main/index.jsx
  frontend/src/Routes/User/Language/ProfExam/index.jsx
  frontend/src/Routes/User/Language/Sidebar/index.jsx
  frontend/src/Routes/User/Language/index.jsx
  frontend/src/Store/index.jsx
Labels: category: frontend, status : Completed, type : bug, urgency : high

#269 Added language level, progress and rating table to user profile
  android/app/src/main/java/com/example/learningplatform/ProfilePageActivity.java
  android/app/src/main/res/drawable/exam.png
  android/app/src/main/res/drawable/linguistics.png
  android/app/src/main/res/drawable/pie_chart.png
  android/app/src/main/res/drawable/star.png
  android/app/src/main/res/layout/activity_profile_page.xml
  android/app/src/main/res/layout/profile_user_language_info.xml
  android/app/src/main/res/values/styles.xml
Labels: category: mobile, type : enhancement

#276 Fix divide by zero bug in profile info
  backend/src/main/java/app/actor/service/ProfileService.java
Labels: category: backend, type : bug

#270 Frontend antd migrate
  frontend/package.json
  frontend/src/Api/User/index.js
  frontend/src/Components/FormIcon.jsx
  frontend/src/Components/index.js
  frontend/src/Helpers/grades.js
  frontend/src/Layouts/CenterView/index.jsx
  frontend/src/Layouts/index.js
  frontend/src/Routes/Guest/Forgot/index.jsx
  frontend/src/Routes/Guest/LogIn/index.jsx
  frontend/src/Routes/Guest/Register/index.jsx
  frontend/src/Routes/User/Dashboard/index.jsx
  frontend/src/Routes/User/Language/LanguageSidebar/index.jsx
  frontend/src/Routes/User/Language/Main/index.jsx
  frontend/src/Routes/User/Language/ProfExam/index.jsx
  frontend/src/Routes/User/Language/Sidebar/index.jsx
  frontend/src/Routes/User/Language/index.jsx
  frontend/src/Routes/User/LanguageSelect/index.jsx
  frontend/src/Routes/User/Navbar/index.jsx
  frontend/src/Routes/User/Sample/index.jsx
  frontend/src/Routes/User/index.jsx
  frontend/src/Store/index.jsx
  frontend/src/index.jsx
Labels: category: frontend, type : enhancement, urgency : emergent

#282 Create basic content search
  backend/src/main/java/app/cerebro/bean/SearchExerciseRequest.java
  backend/src/main/java/app/cerebro/controller/SearchController.java
  backend/src/main/java/app/cerebro/service/SearchExerciseService.java
  backend/src/main/java/app/cerebro/service/SearchOperatorService.java
Labels: category: backend, type : enhancement

#285 Create semantic search functionality for searching exercises by tag. …
  backend/language-learning-platform.iml
  backend/pom.xml
  backend/src/main/java/app/cerebro/bean/DataMuseResponse.java
  backend/src/main/java/app/cerebro/bean/SearchExerciseRequest.java
  backend/src/main/java/app/cerebro/service/SearchExerciseService.java
  backend/src/main/java/app/proseidon/service/ContentService.java
Labels: category: backend, type : enhancement

#287 Android chats list fix
  android/app/src/main/java/com/example/learningplatform/ChatsListDisplay.java
  android/app/src/main/java/com/example/learningplatform/LanguageListDisplay.java
  android/app/src/main/java/com/example/learningplatform/UsersInChatsAdapter.java
  android/app/src/main/res/layout/exercise_type_selection.xml
Labels: Implementation, category: mobile, type : bug

#294 Android exercise view
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/ExerciseListDisplay.java
  android/app/src/main/java/com/example/learningplatform/ExerciseViewActivity.java
  android/app/src/main/java/com/example/learningplatform/ProfilePageActivity.java
  android/app/src/main/java/com/example/learningplatform/StartExerciseActivity.java
  android/app/src/main/res/layout/activity_exercise_view.xml
  android/app/src/main/res/layout/activity_start_exercise.xml
  android/app/src/main/res/layout/start_exercise_activity_info.xml
Labels: Implementation, Learning a technology, category: mobile, type : enhancement

#295 create chat page
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/MessageListActivity.java
  android/app/src/main/java/com/example/learningplatform/MessageListAdapter.java
  android/app/src/main/java/com/example/learningplatform/UsersInChatsAdapter.java
  android/app/src/main/res/drawable/circle.png
  android/app/src/main/res/drawable/rounded_rectangle_green.xml
  android/app/src/main/res/drawable/rounded_rectangle_white.xml
  android/app/src/main/res/layout/activity_message_list.xml
  android/app/src/main/res/layout/activity_target_user.xml
  android/app/src/main/res/layout/item_message_received.xml
  android/app/src/main/res/layout/item_message_sent.xml
  android/app/src/main/res/values/colors.xml
Labels: Implementation, Learning a technology, category: mobile, type : enhancement

#289 Profile page is created. Needs visual polishing
  frontend/src/Api/User/index.js
  frontend/src/Helpers/grades.js
  frontend/src/Routes/User/Navbar/index.jsx
  frontend/src/Routes/User/UserProfile/index.css
  frontend/src/Routes/User/UserProfile/index.jsx
  frontend/src/Routes/User/index.jsx
Labels: category: frontend

#300 Fix create exercise service. Add grade.
  backend/src/main/java/app/proseidon/repository/ContentRepository.java
  backend/src/main/java/app/proseidon/service/ContentService.java
Labels: category: backend, type : enhancement

#301 Fix user search. Make it case-insensitive.
  backend/src/main/java/app/actor/repository/UserRepository.java
  backend/src/main/java/app/cerebro/service/SearchUserService.java
Labels: category: backend, type : bug

#308 Frontend user search
  frontend/src/Api/Content/index.js
  frontend/src/Api/User/index.js
  frontend/src/Helpers/grades.js
  frontend/src/Routes/User/Navbar/index.jsx
  frontend/src/Routes/User/UserProfile/index.jsx
  frontend/src/Routes/User/UserView/index.jsx
  frontend/src/Routes/User/Users/Search.jsx
  frontend/src/Routes/User/Users/index.jsx
  frontend/src/Routes/User/index.jsx
Labels: category: frontend, status : Completed, type : enhancement, urgency : high, workflow: 4-In Review

#309 Frontend exercises
  frontend/src/Api/Content/index.js
  frontend/src/Helpers/exercises.js
  frontend/src/Helpers/index.js
  frontend/src/Helpers/languages.js
  frontend/src/Routes/User/Language/Exercises/ExerciseList/index.jsx
  frontend/src/Routes/User/Language/Exercises/index.jsx
  frontend/src/Routes/User/Language/LanguageSidebar/index.jsx
  frontend/src/Routes/User/Language/ProfExam/index.jsx
  frontend/src/Routes/User/Language/index.jsx
Labels: category: frontend, type : enhancement, urgency : high

#310 Invite button done.
  frontend/src/Api/Invitation/index.js
  frontend/src/Routes/User/UserView/InvitationButton.jsx
  frontend/src/Routes/User/UserView/index.jsx
Labels: category: frontend, status : Completed, type : enhancement

#316 add exercise search
  frontend/src/Helpers/grades.js
  frontend/src/Routes/User/Language/Exercises/ExerciseSearch/Search.jsx
  frontend/src/Routes/User/Language/Exercises/ExerciseSearch/index.jsx
  frontend/src/Routes/User/Language/LanguageSidebar/index.jsx
  frontend/src/Routes/User/Language/index.jsx
Labels: category: frontend, status : Completed, type : enhancement, urgency : high

#317 Frontend update
  frontend/package.json
  frontend/src/Api/Content/index.js
  frontend/src/Api/Invitation/index.js
  frontend/src/Api/User/index.js
  frontend/src/Components/FormIcon.jsx
  frontend/src/Components/index.js
  frontend/src/Helpers/exercises.js
  frontend/src/Helpers/grades.js
  frontend/src/Helpers/index.js
  frontend/src/Helpers/languages.js
  frontend/src/Layouts/CenterView/index.jsx
  frontend/src/Layouts/index.js
  frontend/src/Routes/Guest/Forgot/index.jsx
  frontend/src/Routes/Guest/LogIn/index.jsx
  frontend/src/Routes/Guest/Register/index.jsx
  frontend/src/Routes/User/Dashboard/index.jsx
  frontend/src/Routes/User/Language/Exercises/ExerciseList/index.jsx
  frontend/src/Routes/User/Language/Exercises/ExerciseSearch/Search.jsx
  frontend/src/Routes/User/Language/Exercises/ExerciseSearch/index.jsx
  frontend/src/Routes/User/Language/Exercises/index.jsx
  frontend/src/Routes/User/Language/LanguageSidebar/index.jsx
  frontend/src/Routes/User/Language/Main/index.jsx
  frontend/src/Routes/User/Language/ProfExam/index.jsx
  frontend/src/Routes/User/Language/Sidebar/index.jsx
  frontend/src/Routes/User/Language/index.jsx
  frontend/src/Routes/User/LanguageSelect/index.jsx
  frontend/src/Routes/User/Navbar/index.jsx
  frontend/src/Routes/User/Sample/index.jsx
  frontend/src/Routes/User/UserProfile/index.css
  frontend/src/Routes/User/UserProfile/index.jsx
  frontend/src/Routes/User/UserView/InvitationButton.jsx
  frontend/src/Routes/User/UserView/index.jsx
  frontend/src/Routes/User/Users/Search.jsx
  frontend/src/Routes/User/Users/index.jsx
  frontend/src/Routes/User/index.jsx
  frontend/src/Store/index.jsx
  frontend/src/index.jsx
Labels: category: frontend, status : Completed, type : enhancement, urgency : high

#303 Connected the exercise view to content search page
  android/app/src/main/java/com/example/learningplatform/ContentSearchFragment.java
Labels: Implementation, Learning a technology, category: mobile, java, type : enhancement

#319 Add user filter for exercise search
  backend/src/main/java/app/actor/service/UserService.java
  backend/src/main/java/app/cerebro/bean/SearchExerciseRequest.java
  backend/src/main/java/app/cerebro/service/SearchExerciseService.java
Labels: category: backend, type : enhancement

#320 Frontend hotfix
  frontend/public/android-icon-144x144.png
  frontend/public/android-icon-192x192.png
  frontend/public/android-icon-36x36.png
  frontend/public/android-icon-48x48.png
  frontend/public/android-icon-72x72.png
  frontend/public/android-icon-96x96.png
  frontend/public/app_icon.png
  frontend/public/apple-icon-114x114.png
  frontend/public/apple-icon-120x120.png
  frontend/public/apple-icon-144x144.png
  frontend/public/apple-icon-152x152.png
  frontend/public/apple-icon-180x180.png
  frontend/public/apple-icon-57x57.png
  frontend/public/apple-icon-60x60.png
  frontend/public/apple-icon-72x72.png
  frontend/public/apple-icon-76x76.png
  frontend/public/apple-icon-precomposed.png
  frontend/public/apple-icon.png
  frontend/public/browserconfig.xml
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon-96x96.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/ms-icon-144x144.png
  frontend/public/ms-icon-150x150.png
  frontend/public/ms-icon-310x310.png
  frontend/public/ms-icon-70x70.png
  frontend/src/Helpers/colors.js
  frontend/src/Helpers/index.js
  frontend/src/Images/app_icon_transparent.png
  frontend/src/Routes/User/Dashboard/index.jsx
  frontend/src/Routes/User/Language/Exercises/ExerciseList/index.jsx
  frontend/src/Routes/User/Language/LanguageSidebar/index.jsx
  frontend/src/Routes/User/Navbar/index.jsx
  frontend/src/Routes/User/UserView/index.jsx
  frontend/src/Routes/User/index.jsx
Labels: category: frontend, status : Completed, type : bug, type : enhancement, urgency : emergent

#321 Frontend
  frontend/public/android-icon-144x144.png
  frontend/public/android-icon-192x192.png
  frontend/public/android-icon-36x36.png
  frontend/public/android-icon-48x48.png
  frontend/public/android-icon-72x72.png
  frontend/public/android-icon-96x96.png
  frontend/public/app_icon.png
  frontend/public/apple-icon-114x114.png
  frontend/public/apple-icon-120x120.png
  frontend/public/apple-icon-144x144.png
  frontend/public/apple-icon-152x152.png
  frontend/public/apple-icon-180x180.png
  frontend/public/apple-icon-57x57.png
  frontend/public/apple-icon-60x60.png
  frontend/public/apple-icon-72x72.png
  frontend/public/apple-icon-76x76.png
  frontend/public/apple-icon-precomposed.png
  frontend/public/apple-icon.png
  frontend/public/browserconfig.xml
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon-96x96.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/ms-icon-144x144.png
  frontend/public/ms-icon-150x150.png
  frontend/public/ms-icon-310x310.png
  frontend/public/ms-icon-70x70.png
  frontend/src/Helpers/colors.js
  frontend/src/Helpers/index.js
  frontend/src/Images/app_icon_transparent.png
  frontend/src/Routes/User/Dashboard/index.jsx
  frontend/src/Routes/User/Language/Exercises/ExerciseList/index.jsx
  frontend/src/Routes/User/Language/LanguageSidebar/index.jsx
  frontend/src/Routes/User/Navbar/index.jsx
  frontend/src/Routes/User/UserView/index.jsx
  frontend/src/Routes/User/index.jsx
Labels: category: frontend, type : bug, type : enhancement, urgency : emergent
