Repository bounswe/bounswe2019group9, pull requests merged in 2019-12, with the labels that each got.

#324 Integrate S3, create and test upload mechanism
  backend/language-learning-platform.iml
  backend/pom.xml
  backend/src/main/java/app/mahmuthoca/AmazonClient.java
  backend/src/main/java/app/mahmuthoca/FileController.java
  backend/src/main/java/app/mahmuthoca/FileUploadRequest.java
Labels: category: backend, category: devops, type : enhancement

#326 Add AWS Credentials, Make Upload for png files
  backend/language-learning-platform.iml
  backend/server-conf/prepare-build.sh
  backend/src/main/java/app/mahmuthoca/AmazonClient.java
  backend/src/main/java/app/mahmuthoca/FileController.java
  backend/src/main/java/app/mahmuthoca/FileUploadRequest.java
  backend/src/main/java/app/mahmuthoca/UploadService.java
  backend/src/main/resources/base-application.properties
Labels: category: backend, category: devops

#328 Add png and jpeg types for image upload
  backend/src/main/java/app/mahmuthoca/UploadService.java
Labels: category: backend, type : enhancement

#334 Add rating service
  backend/src/main/java/app/actor/bean/ProfileInfo.java
  backend/src/main/java/app/actor/service/ProfileService.java
  backend/src/main/java/app/mahmuthoca/CreateRatingRequest.java
  backend/src/main/java/app/mahmuthoca/Rating.java
  backend/src/main/java/app/mahmuthoca/RatingController.java
  backend/src/main/java/app/mahmuthoca/RatingRepository.java
  backend/src/main/java/app/mahmuthoca/RatingService.java
Labels: category: backend, type : enhancement

#336 Rebuild for S3
  backend/src/main/java/app/proseidon/controller/TagController.java
Labels: type : bug

#339 Add essay image upload, refactor upload service
  backend/src/main/java/app/mahmuthoca/FileController.java
  backend/src/main/java/app/mahmuthoca/FileUploadRequest.java
  backend/src/main/java/app/mahmuthoca/UploadService.java
Labels: category: backend, type : enhancement

#341 Add sound upload service - AWS S3
  backend/src/main/java/app/mahmuthoca/FileController.java
  backend/src/main/java/app/mahmuthoca/UploadService.java
Labels: category: backend, type : enhancement

#344 Add image/sound url to exercise when file uploaded
  backend/src/main/java/app/actor/service/ProfileService.java
  backend/src/main/java/app/mahmuthoca/bean/AmazonClient.java
  backend/src/main/java/app/mahmuthoca/bean/CreateCommentRequest.java
  backend/src/main/java/app/mahmuthoca/bean/CreateRatingRequest.java
  backend/src/main/java/app/mahmuthoca/bean/FileUploadRequest.java
  backend/src/main/java/app/mahmuthoca/bean/SourceAndComment.java
  backend/src/main/java/app/mahmuthoca/controller/CommentController.java
  backend/src/main/java/app/mahmuthoca/controller/FileController.java
  backend/src/main/java/app/mahmuthoca/controller/RatingController.java
  backend/src/main/java/app/mahmuthoca/entity/Comment.java
  backend/src/main/java/app/mahmuthoca/entity/Rating.java
  backend/src/main/java/app/mahmuthoca/repository/CommentRepository.java
  backend/src/main/java/app/mahmuthoca/repository/RatingRepository.java
  backend/src/main/java/app/mahmuthoca/service/CommentService.java
  backend/src/main/java/app/mahmuthoca/service/RatingService.java
  backend/src/main/java/app/mahmuthoca/service/UploadService.java
  backend/src/main/java/app/proseidon/repository/ContentRepository.java
Labels: category: backend, type : enhancement

#332 Android exercise addition page
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/AddExerciseActivity.java
  android/app/src/main/java/com/example/learningplatform/ExerciseListDisplay.java
  android/app/src/main/res/drawable-v24/add_icon.png
  android/app/src/main/res/layout/activity_add_exercise.xml
  android/app/src/main/res/layout/exercise_type_selection.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle
Labels: Implementation, Learning a technology, category: mobile, java, type : enhancement

#330 added comment and rating page to android
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/AddExerciseActivity.java
  android/app/src/main/java/com/example/learningplatform/CommentAdapter.java
  android/app/src/main/java/com/example/learningplatform/CommentRateActivity.java
  android/app/src/main/java/com/example/learningplatform/ExerciseListDisplay.java
  android/app/src/main/java/com/example/learningplatform/ProfilePageActivity.java
  android/app/src/main/java/com/example/learningplatform/TargetUserActivity.java
  android/app/src/main/res/drawable-v24/add_icon.png
  android/app/src/main/res/layout/activity_add_exercise.xml
  android/app/src/main/res/layout/activity_profile_page.xml
  android/app/src/main/res/layout/activity_target_user.xml
  android/app/src/main/res/layout/comment_item.xml
  android/app/src/main/res/layout/exercise_type_selection.xml
  android/app/src/main/res/layout/rating_comment_activity.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle
Labels: Implementation, category: mobile, java, status : On Progress, type : enhancement

#346 Implement recommendation engine
  backend/src/main/java/app/actor/bean/ProfileInfo.java
  backend/src/main/java/app/cerebro/bean/RecommendationRequest.java
  backend/src/main/java/app/cerebro/controller/RecommendationController.java
Labels: category: backend, type : enhancement

#348 Add test for recommendation
  backend/src/test/java/app/RecommendationControllerTest.java
Labels: category: backend, test

#350 Add login test
  backend/src/test/java/app/LoginTest.java
Labels: category: backend, test

#354 Add automatically level up mechanism
  backend/src/main/java/app/actor/service/UserService.java
Labels: category: backend, type : enhancement

#356 Implement writing exercise services
  backend/src/main/java/app/mahmuthoca/bean/CreateAssignmentRequest.java
  backend/src/main/java/app/mahmuthoca/controller/AssignmentController.java
  backend/src/main/java/app/mahmuthoca/entity/Assignment.java
  backend/src/main/java/app/mahmuthoca/repository/AssignmentRepository.java
  backend/src/main/java/app/mahmuthoca/service/AssignmentService.java
Labels: category: backend, type : enhancement

#358 Fix circular services problem
  backend/src/main/java/app/actor/service/UserService.java
Labels: category: backend, type : bug

#360 Add language field and option to assignment
  backend/src/main/java/app/mahmuthoca/bean/CreateAssignmentRequest.java
  backend/src/main/java/app/mahmuthoca/entity/Assignment.java
  backend/src/main/java/app/mahmuthoca/repository/AssignmentRepository.java
  backend/src/main/java/app/mahmuthoca/service/AssignmentService.java
Labels: category: backend, type : enhancement

#362 Introduce new endpoint for get assignments by language id
  backend/src/main/java/app/mahmuthoca/controller/AssignmentController.java
  backend/src/main/java/app/mahmuthoca/repository/AssignmentRepository.java
  backend/src/main/java/app/mahmuthoca/service/AssignmentService.java
Labels: category: backend, type : enhancement

#364 Create Essay entity, controller and services
  backend/src/main/java/app/mahmuthoca/bean/CreateEssayRequest.java
  backend/src/main/java/app/mahmuthoca/controller/AssignmentController.java
  backend/src/main/java/app/mahmuthoca/controller/EssayController.java
  backend/src/main/java/app/mahmuthoca/entity/Essay.java
  backend/src/main/java/app/mahmuthoca/repository/EssayRepository.java
  backend/src/main/java/app/mahmuthoca/service/EssayService.java
Labels: category: backend, type : enhancement

#367 Implement new endpoints and services for assignment-essay
  backend/src/main/java/app/mahmuthoca/bean/AssignmentEssay.java
  backend/src/main/java/app/mahmuthoca/bean/CreateReviewRequestRequest.java
  backend/src/main/java/app/mahmuthoca/bean/ReviewRequestDTO.java
  backend/src/main/java/app/mahmuthoca/controller/EssayController.java
  backend/src/main/java/app/mahmuthoca/controller/RequestController.java
  backend/src/main/java/app/mahmuthoca/controller/ReviewController.java
  backend/src/main/java/app/mahmuthoca/entity/Request.java
  backend/src/main/java/app/mahmuthoca/repository/EssayRepository.java
  backend/src/main/java/app/mahmuthoca/repository/RequestRepository.java
  backend/src/main/java/app/mahmuthoca/service/EssayService.java
  backend/src/main/java/app/mahmuthoca/service/RequestService.java
Labels: category: backend, type : enhancement

#372 Android solve writing exercise
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/StartExerciseActivity.java
  android/app/src/main/java/com/example/learningplatform/WritingExActivity.java
  android/app/src/main/res/layout/activity_writing_ex.xml
Labels: Implementation, Learning a technology, category: mobile, java, type : enhancement

#371 Android solved writing exercises
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/AnnotationActivity.java
  android/app/src/main/java/com/example/learningplatform/ExerciseListDisplay.java
  android/app/src/main/java/com/example/learningplatform/SolvedEssayAdapter.java
  android/app/src/main/java/com/example/learningplatform/SolvedEssayListPage.java
  android/app/src/main/java/com/example/learningplatform/StartExerciseActivity.java
  android/app/src/main/java/com/example/learningplatform/WritingExActivity.java
  android/app/src/main/res/layout/activity_writing_ex.xml
  android/app/src/main/res/layout/solved_essay_item.xml
  android/app/src/main/res/layout/solved_essays_page.xml
  android/app/src/main/res/values/strings.xml
Labels: Implementation, category: mobile, java, status : On Progress, type : enhancement, urgency : high

#382 Annotations enndpoints
  backend/src/main/java/app/mahmuthoca/bean/CreateAnnotationRequest.java
  backend/src/main/java/app/mahmuthoca/controller/AnnotationController.java
  backend/src/main/java/app/mahmuthoca/entity/AnnotationEntity.java
  backend/src/main/java/app/mahmuthoca/repository/AnnotationRepository.java
  backend/src/main/java/app/mahmuthoca/service/AnnotationService.java
Labels: category: backend, type : enhancement

#380 Android add exercise connection
  android/app/src/main/java/com/example/learningplatform/AddExerciseActivity.java
  android/app/src/main/java/com/example/learningplatform/WritingExActivity.java
  android/app/src/main/res/layout/activity_add_exercise.xml
Labels: Implementation, Learning a technology, category: mobile, java, type : enhancement

#376 Added solved essay page.
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/learningplatform/SolvedEssayActivity.java
  android/app/src/main/java/com/example/learningplatform/SolvedEssayAdapter.java
  android/app/src/main/res/layout/writing_ex_solved.xml
Labels: Implementation, category: mobile, java, status : Completed, type : enhancement, urgency : high

#385 only first five users will be displayed
  android/app/src/main/java/com/example/learningplatform/RecommendedUsersAdapter.java
  android/app/src/main/res/layout/activity_recommendation_page.xml
Labels: category: mobile, java, status : Completed

#384 Sending user to recommended users from solved writing page.
  android/app/src/main/java/com/example/learningplatform/ProfilePageActivity.java
  android/app/src/main/java/com/example/learningplatform/RecommendedUsersAdapter.java
  android/app/src/main/java/com/example/learningplatform/SolvedEssayActivity.java
  android/app/src/main/res/layout/activity_recommendation_page.xml
  android/app/src/main/res/layout/writing_ex_solved.xml
Labels: category: mobile, java

#391 Implemented getSourceByEssayId endpoint
  backend/src/main/java/app/mahmuthoca/controller/EssayController.java
Labels: category: backend

#395 writing exercise and exercise suggestion pages added
  frontend/src/Api/Suggest/index.js
  frontend/src/Api/Writing/index.js
  frontend/src/Routes/User/Language/LanguageSidebar/index.jsx
  frontend/src/Routes/User/Language/Suggest/index.jsx
  frontend/src/Routes/User/Language/Writing/index.jsx
  frontend/src/Routes/User/Language/index.jsx
Labels: Implementation, category: frontend, status : Completed, type : enhancement, urgency : emergent, workflow: 4-In Review

#397 Halit added Header to getById
  backend/src/main/java/app/mahmuthoca/controller/AnnotationController.java
Labels: category: backend

#389 Some cosmetic changes, forgotten
  frontend/src/Routes/User/Chats/PendingPage.jsx
  frontend/src/Routes/User/Chats/index.jsx
Labels: category: frontend

#403 React annotation
  frontend/cosmos.config.js
  frontend/cosmos.proxies.js
  frontend/package.json
  frontend/src/Api/Annotation/index.js
  frontend/src/Api/Essay/index.js
  frontend/src/Api/Request/index.js
  frontend/src/Helpers/annotations.js
  frontend/src/Routes/User/Annotation/Annotation.fixture.jsx
  frontend/src/Routes/User/Annotation/AnnotationData/AnnotationData.js
  frontend/src/Routes/User/Annotation/AnnotationData/AnnotationDataFactory.js
  frontend/src/Routes/User/Annotation/AnnotationData/ImageAnnotationData.js
  frontend/src/Routes/User/Annotation/AnnotationData/TextAnnotationData.js
  frontend/src/Routes/User/Annotation/AnnotationForm.jsx
  frontend/src/Routes/User/Annotation/AnnotationModal.jsx
  frontend/src/Routes/User/Annotation/ImageAnnotation/ImageAnnotation.jsx
  frontend/src/Routes/User/Annotation/ImageAnnotation/ImageAnnotationContainer.fixture.jsx
  frontend/src/Routes/User/Annotation/ImageAnnotation/ImageAnnotationContainer.jsx
  frontend/src/Routes/User/Annotation/TextAnnotation/TextAnnotation.jsx
  frontend/src/Routes/User/Annotation/TextAnnotation/TextAnnotationContainer.fixture.jsx
  frontend/src/Routes/User/Annotation/TextAnnotation/TextAnnotationContainer.jsx
  frontend/src/Routes/User/Annotation/index.css
  frontend/src/Routes/User/Annotation/index.jsx
  frontend/src/Routes/User/Annotation/sample-annotation-list.js
  frontend/src/Routes/User/Essays/EssayReviews.jsx
  frontend/src/Routes/User/Essays/EssayView.jsx
  frontend/src/Routes/User/Essays/RequestReview.jsx
  frontend/src/Routes/User/Essays/index.jsx
  frontend/src/Routes/User/Navbar/index.jsx
  frontend/src/Routes/User/index.jsx
Labels: Implementation, category: frontend, status : Completed, urgency : emergent

#401 Frontend user rating
  frontend/src/Api/Comment/index.js
  frontend/src/Api/Rate/index.js
  frontend/src/Helpers/avatar.js
  frontend/src/Helpers/delay.js
  frontend/src/Routes/User/Chats/Chat.jsx
  frontend/src/Routes/User/Chats/index.jsx
  frontend/src/Routes/User/UserProfile/CommentInput.jsx
  frontend/src/Routes/User/UserProfile/CommentsView.jsx
  frontend/src/Routes/User/UserProfile/RateUser.jsx
  frontend/src/Routes/User/UserProfile/index.jsx
  frontend/src/Routes/User/UserView/index.jsx
Labels: Implementation, category: frontend, help wanted, status : On Progress, type : bug
